<h1> Stupid Coaching</h1>
<div class="banner1">
<p><strong><%=@question%></strong></p>
<p>- You</p>
</div>

<div class="banner2">
<p>
<strong><%=@answer %></strong>
</p>
<p>- The Coach</p>
</div>

<p> <%= link_to "Ask a new question", ask_path, class: "link_to" %> </p>
